# Chapter 3

In [8]:
for i in range(5):
    print("Hello,World!")

Hello,World!
Hello,World!
Hello,World!
Hello,World!
Hello,World!

In [4]:
print("Hello,wold!")

Hello,wold!

In [5]:
print("Python")
print("こんにちは！")

Python
こんにちは！

In [7]:
print("""これは、とても、とても、
とても、とても長い複数行の
コードです。""")

これは、とても、とても、
とても、とても長い複数行の
コードです。

In [13]:
print\
("""これは、とても、とても、とても、
とても長い複数行のコードです。""")

これは、とても、とても、とても、
とても長い複数行のコードです。

In [14]:
2.2+2.2

4.4

In [15]:
b = 100
b

100

In [16]:
x = 100
x

x = 200
x

200

In [18]:
x = 10
y = 10
z = x + y
z
a = x - y
a

0

In [19]:
x = 10
x = x + 1
x

11

In [20]:
hi = "Hello,World!"
hi

'Hello,World!'

In [1]:
2+2

4

In [2]:
b =100
b

100

In [3]:
x = 100
x

x = 200 
x

200

In [4]:
x = 10 
x = x - 1
x

9

In [5]:
x = 10
x -= 1
x

9

In [6]:
13 // 5

2

In [7]:
13 % 5

3

In [8]:
12 % 2

0

In [9]:
2 + 2 *2

6

In [10]:
100 > 10

True

In [11]:
100 < 10

False

In [2]:
1 == 1 and 2 == 2

True

In [5]:
1 == 1 and 2 == 2

True

In [6]:
1 == 2 and 2 == 1

False

In [7]:
2 == 1 and 1 == 1

False

In [8]:
1 == 1 and 10 !=2 and 2 < 10

True

In [9]:
1 == 1 or 1 == 2

True

In [13]:
1 == 1 or 2 == 2

True

In [14]:
1 == 2 or 2 == 1

False

In [15]:
2 == 1 or 1 == 2

False

In [ ]:
1 == 1 or 1 == 2 or 1 == 3

In [ ]:
not 1 == 1

In [ ]:
not 1 == 2

In [18]:
home = "アメリカ"
if home == "アメリカ":
    print("Hello,America!")
else:
    print("Hello,World!")

Hello,America!

In [19]:
home = "日本"
if home == "アメリカ":
    print("Hello,America!")
else:
    print("Hello,World")

Hello,World

In [20]:
home = "アメリカ"
if home == "アメリカ":
    print("Hello,World!")

Hello,World!

In [23]:
x = 2
if x == 2:
    print("数値は2です")
if x % 2 == 0:
    print("数値は偶数です")
if x % 2 != 0:
    print("数値は奇数です")

数値は2です
数値は偶数です

In [24]:
x = 10
y = 11

if x == 10:
    if y == 11:
        print(x + y)

21

In [26]:
home = "タイ"
if home == "日本":
    print("hello,japan!")
elif home == "タイ":
    print("hello,thailand!")
elif home == "インド":
    print("hello, india!")
elif home == "中国":
    print("hello,china!")
else:
    print("hello,world!")

hello,thailand!

In [30]:
home = "火星"
if home == "アメリカ":
    print("hello,america!")
elif home == "カナダ":
    print("hello,canada!")
elif home == "タイ":
    print("hello, thailand!")
elif home == "メキシコ":
    print("hello,mexico!")
else:
    print("hello,world!")

hello,world!

In [35]:
x = 100
if x == 10:
    print("10!")
elif x == 20:
    print("20!")
else:
    print("分かりません")
    
if x == 100:
    print("xは100!")
    
if x % 2 == 0:
    print("xは偶数!")
else:
    print("xは奇数!")

分かりません
xは100!
xは偶数!

In [36]:
print("hello,world")

2 + 2

hello,world

4

In [37]:
for i in range(5):
    print("hello,world")

hello,world
hello,world
hello,world
hello,world
hello,world

In [38]:
x = 100
if x == 10:
    print("10!")
elif x == 20:
    print("20!")
else:
    print("分かりません")
    
if x == 100:
    print("xは100!")
    
if x % 2 == 0:
    print("xは偶数!")
else:
    print("xは奇数!")

分かりません
xは100!
xは偶数!

In [39]:
print("michael")

print("jordan")

michael
jordan